<h1>Notes</h1>
<div class="u-marginBelow3">
  <% @notes.each do |note| %>
    <div class="sn-Note">
      <div class="sn-Note-wrapper">
        <h2 class="sn-Note-title">
          <%= show_title note %>
          <small class="u-marginAfter2 sn-Note-meta">
            (Created by <%= @user.username %>, <%= pretty_date note.timestamp %>
          </small>
        </h2>
        <p class="sn-Note-body">
          <%= note.body %>
        </p>
      </div>
      <div class="sn-Note-buttons">
        <%= link_to "Edit", edit_note_path(note.id), class: "sn-Button" %>
        <%= link_to "Send".html_safe, mail_note_path(note.id), class: "sn-Button" %>
        <%= link_to "Delete", note, method: :delete, class: "sn-Button sn-Button--danger" %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New", new_note_path, class: "sn-Button" %>
