<%= form_with(model: user, local: true, html: { class: "sn-Form" }) do |form| %>
  <%= tag.h1 class: "sn-Form-title" do %>
    <%= title%>
  <% end %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_field do %>
    <%= form.label :username, class: "sn-FormField-label" %>
    <%= form.text_field :username, class: "sn-FormField-input" %>
  <% end %>

  <%= form_field do %>
    <%= form.label :password, class: "sn-FormField-label" %>
    <%= form.text_field :password, type: :password, class: "sn-FormField-input" %>
  <% end %>

  <%= form_field do %>
    <%= form.label :email, class: "sn-FormField-label" %>
    <%= form.text_field :email, class: "sn-FormField-input" %>
  <% end %>

  <%= form_field do %>
    <%= form.submit class: "sn-Button" %>
  <% end %>
<% end %>
