<!DOCTYPE html>
<html>
  <head>
    <title>SimpleNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= tag.header class: "sn-Header" do %>
      <%= tag.section class: "sn-Header-wrapper" do %>
        <%= tag.div class:  "sn-Header-notification" do %>
          <%= notice %>
        <% end %>
        <%= content_for :header_content %>
        <%= auth_link %>
      <% end %>
    <% end %>
    <%= tag.main class: "sn-Main" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
